body{
    background-color: #FF8871;
}

h2 {
    text-align: center;
    font-family:  'Baloo Da', cursive;
    color: white;
}

.summary{
    text-align: center;
    font-family:  'Baloo Da', cursive;
    color: white;
}

.leftside, .rightside {
    height:100vh;
    width:100%;
}
